[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/hotaery
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/hotaery
	label-Verified = -1..+1 group user/hotaery
	push = group user/hotaery
	read = group user/hotaery
	rebase = group user/hotaery
	removeReviewer = group user/hotaery
	submit = group user/hotaery
[access "refs/heads/*"]
	create = group user/hotaery
	push = +force group user/hotaery
	pushMerge = group user/hotaery
	read = group user/hotaery
[access "refs/tags/*"]
	push = group user/hotaery
	push = +force group user/hotaery
